body {
  margin: 0px;
  padding: 0;
  background-color: #f9f2d4; }

canvas {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white; }

.App {
  text-align: center; }

.App-header {
  color: white;
  position: fixed !important;
  width: 100%;
  top: 0px;
  background-color: #fd595a; }

.App-footer {
  position: fixed;
  bottom: 0;
  background-color: #52BAD1;
  width: 100%;
  padding: 8px 0; }

.startPageLogo {
  height: 600px;
  top: 0; }

.textBoxes {
  display: flex;
  flex-direction: column; }

.backgroundFinal {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000; }

.pyro {
  position: fixed;
  height: 100vh;
  width: 100vw; }

.pyro > .before, .pyro > .after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -164px -198.6666666667px #00ffea, -48px -58.6666666667px #cc00ff, 242px -256.6666666667px #00ff99, 106px -401.6666666667px #00f2ff, 110px 3.3333333333px #3c00ff, 238px -143.6666666667px #00ffb3, 14px -159.6666666667px #0037ff, 6px -339.6666666667px #11ff00, -216px -31.6666666667px #005eff, -130px -104.6666666667px #00a2ff, -16px -221.6666666667px #ff0080, 57px -234.6666666667px #0004ff, 138px 28.3333333333px #0026ff, -94px -217.6666666667px #00ff2f, -150px -286.6666666667px #2f00ff, -166px -387.6666666667px #ff2200, 128px -403.6666666667px #00ff88, -60px -19.6666666667px #ee00ff, 101px -66.6666666667px #ff7300, 161px 8.3333333333px #001aff, 78px -301.6666666667px #ff0077, -67px 9.3333333333px #ff004d, 216px -389.6666666667px #00c8ff, -180px -278.6666666667px #6a00ff, 211px -66.6666666667px #00ff09, 156px 33.3333333333px #ff00fb, -74px 62.3333333333px #00ff15, 5px -79.6666666667px #0080ff, 88px -411.6666666667px #7700ff, -77px -148.6666666667px #00ffee, -164px -315.6666666667px #00ff1a, -122px -110.6666666667px #fff200, -119px -75.6666666667px #ff1100, 226px -109.6666666667px #40ff00, 229px -314.6666666667px #ffaa00, -178px -102.6666666667px #0d00ff, -70px -60.6666666667px #ff00b3, -24px -408.6666666667px #a6ff00, -14px -292.6666666667px #ff00cc, 175px -145.6666666667px #00ff44, -232px -274.6666666667px #48ff00, 68px -59.6666666667px #ff1100, 146px -383.6666666667px #ff00d9, 243px -203.6666666667px #00ff40, 43px -265.6666666667px #ff00dd, 162px -327.6666666667px #ffe600, -98px 60.3333333333px #00ff80, 243px -152.6666666667px deepskyblue, 33px 69.3333333333px #d0ff00, -40px -182.6666666667px #00ff6f, 117px -374.6666666667px #6fff00; } }
@-moz-keyframes bang {
  to {
    box-shadow: -164px -198.6666666667px #00ffea, -48px -58.6666666667px #cc00ff, 242px -256.6666666667px #00ff99, 106px -401.6666666667px #00f2ff, 110px 3.3333333333px #3c00ff, 238px -143.6666666667px #00ffb3, 14px -159.6666666667px #0037ff, 6px -339.6666666667px #11ff00, -216px -31.6666666667px #005eff, -130px -104.6666666667px #00a2ff, -16px -221.6666666667px #ff0080, 57px -234.6666666667px #0004ff, 138px 28.3333333333px #0026ff, -94px -217.6666666667px #00ff2f, -150px -286.6666666667px #2f00ff, -166px -387.6666666667px #ff2200, 128px -403.6666666667px #00ff88, -60px -19.6666666667px #ee00ff, 101px -66.6666666667px #ff7300, 161px 8.3333333333px #001aff, 78px -301.6666666667px #ff0077, -67px 9.3333333333px #ff004d, 216px -389.6666666667px #00c8ff, -180px -278.6666666667px #6a00ff, 211px -66.6666666667px #00ff09, 156px 33.3333333333px #ff00fb, -74px 62.3333333333px #00ff15, 5px -79.6666666667px #0080ff, 88px -411.6666666667px #7700ff, -77px -148.6666666667px #00ffee, -164px -315.6666666667px #00ff1a, -122px -110.6666666667px #fff200, -119px -75.6666666667px #ff1100, 226px -109.6666666667px #40ff00, 229px -314.6666666667px #ffaa00, -178px -102.6666666667px #0d00ff, -70px -60.6666666667px #ff00b3, -24px -408.6666666667px #a6ff00, -14px -292.6666666667px #ff00cc, 175px -145.6666666667px #00ff44, -232px -274.6666666667px #48ff00, 68px -59.6666666667px #ff1100, 146px -383.6666666667px #ff00d9, 243px -203.6666666667px #00ff40, 43px -265.6666666667px #ff00dd, 162px -327.6666666667px #ffe600, -98px 60.3333333333px #00ff80, 243px -152.6666666667px deepskyblue, 33px 69.3333333333px #d0ff00, -40px -182.6666666667px #00ff6f, 117px -374.6666666667px #6fff00; } }
@-o-keyframes bang {
  to {
    box-shadow: -164px -198.6666666667px #00ffea, -48px -58.6666666667px #cc00ff, 242px -256.6666666667px #00ff99, 106px -401.6666666667px #00f2ff, 110px 3.3333333333px #3c00ff, 238px -143.6666666667px #00ffb3, 14px -159.6666666667px #0037ff, 6px -339.6666666667px #11ff00, -216px -31.6666666667px #005eff, -130px -104.6666666667px #00a2ff, -16px -221.6666666667px #ff0080, 57px -234.6666666667px #0004ff, 138px 28.3333333333px #0026ff, -94px -217.6666666667px #00ff2f, -150px -286.6666666667px #2f00ff, -166px -387.6666666667px #ff2200, 128px -403.6666666667px #00ff88, -60px -19.6666666667px #ee00ff, 101px -66.6666666667px #ff7300, 161px 8.3333333333px #001aff, 78px -301.6666666667px #ff0077, -67px 9.3333333333px #ff004d, 216px -389.6666666667px #00c8ff, -180px -278.6666666667px #6a00ff, 211px -66.6666666667px #00ff09, 156px 33.3333333333px #ff00fb, -74px 62.3333333333px #00ff15, 5px -79.6666666667px #0080ff, 88px -411.6666666667px #7700ff, -77px -148.6666666667px #00ffee, -164px -315.6666666667px #00ff1a, -122px -110.6666666667px #fff200, -119px -75.6666666667px #ff1100, 226px -109.6666666667px #40ff00, 229px -314.6666666667px #ffaa00, -178px -102.6666666667px #0d00ff, -70px -60.6666666667px #ff00b3, -24px -408.6666666667px #a6ff00, -14px -292.6666666667px #ff00cc, 175px -145.6666666667px #00ff44, -232px -274.6666666667px #48ff00, 68px -59.6666666667px #ff1100, 146px -383.6666666667px #ff00d9, 243px -203.6666666667px #00ff40, 43px -265.6666666667px #ff00dd, 162px -327.6666666667px #ffe600, -98px 60.3333333333px #00ff80, 243px -152.6666666667px deepskyblue, 33px 69.3333333333px #d0ff00, -40px -182.6666666667px #00ff6f, 117px -374.6666666667px #6fff00; } }
@-ms-keyframes bang {
  to {
    box-shadow: -164px -198.6666666667px #00ffea, -48px -58.6666666667px #cc00ff, 242px -256.6666666667px #00ff99, 106px -401.6666666667px #00f2ff, 110px 3.3333333333px #3c00ff, 238px -143.6666666667px #00ffb3, 14px -159.6666666667px #0037ff, 6px -339.6666666667px #11ff00, -216px -31.6666666667px #005eff, -130px -104.6666666667px #00a2ff, -16px -221.6666666667px #ff0080, 57px -234.6666666667px #0004ff, 138px 28.3333333333px #0026ff, -94px -217.6666666667px #00ff2f, -150px -286.6666666667px #2f00ff, -166px -387.6666666667px #ff2200, 128px -403.6666666667px #00ff88, -60px -19.6666666667px #ee00ff, 101px -66.6666666667px #ff7300, 161px 8.3333333333px #001aff, 78px -301.6666666667px #ff0077, -67px 9.3333333333px #ff004d, 216px -389.6666666667px #00c8ff, -180px -278.6666666667px #6a00ff, 211px -66.6666666667px #00ff09, 156px 33.3333333333px #ff00fb, -74px 62.3333333333px #00ff15, 5px -79.6666666667px #0080ff, 88px -411.6666666667px #7700ff, -77px -148.6666666667px #00ffee, -164px -315.6666666667px #00ff1a, -122px -110.6666666667px #fff200, -119px -75.6666666667px #ff1100, 226px -109.6666666667px #40ff00, 229px -314.6666666667px #ffaa00, -178px -102.6666666667px #0d00ff, -70px -60.6666666667px #ff00b3, -24px -408.6666666667px #a6ff00, -14px -292.6666666667px #ff00cc, 175px -145.6666666667px #00ff44, -232px -274.6666666667px #48ff00, 68px -59.6666666667px #ff1100, 146px -383.6666666667px #ff00d9, 243px -203.6666666667px #00ff40, 43px -265.6666666667px #ff00dd, 162px -327.6666666667px #ffe600, -98px 60.3333333333px #00ff80, 243px -152.6666666667px deepskyblue, 33px 69.3333333333px #d0ff00, -40px -182.6666666667px #00ff6f, 117px -374.6666666667px #6fff00; } }
@keyframes bang {
  to {
    box-shadow: -164px -198.6666666667px #00ffea, -48px -58.6666666667px #cc00ff, 242px -256.6666666667px #00ff99, 106px -401.6666666667px #00f2ff, 110px 3.3333333333px #3c00ff, 238px -143.6666666667px #00ffb3, 14px -159.6666666667px #0037ff, 6px -339.6666666667px #11ff00, -216px -31.6666666667px #005eff, -130px -104.6666666667px #00a2ff, -16px -221.6666666667px #ff0080, 57px -234.6666666667px #0004ff, 138px 28.3333333333px #0026ff, -94px -217.6666666667px #00ff2f, -150px -286.6666666667px #2f00ff, -166px -387.6666666667px #ff2200, 128px -403.6666666667px #00ff88, -60px -19.6666666667px #ee00ff, 101px -66.6666666667px #ff7300, 161px 8.3333333333px #001aff, 78px -301.6666666667px #ff0077, -67px 9.3333333333px #ff004d, 216px -389.6666666667px #00c8ff, -180px -278.6666666667px #6a00ff, 211px -66.6666666667px #00ff09, 156px 33.3333333333px #ff00fb, -74px 62.3333333333px #00ff15, 5px -79.6666666667px #0080ff, 88px -411.6666666667px #7700ff, -77px -148.6666666667px #00ffee, -164px -315.6666666667px #00ff1a, -122px -110.6666666667px #fff200, -119px -75.6666666667px #ff1100, 226px -109.6666666667px #40ff00, 229px -314.6666666667px #ffaa00, -178px -102.6666666667px #0d00ff, -70px -60.6666666667px #ff00b3, -24px -408.6666666667px #a6ff00, -14px -292.6666666667px #ff00cc, 175px -145.6666666667px #00ff44, -232px -274.6666666667px #48ff00, 68px -59.6666666667px #ff1100, 146px -383.6666666667px #ff00d9, 243px -203.6666666667px #00ff40, 43px -265.6666666667px #ff00dd, 162px -327.6666666667px #ffe600, -98px 60.3333333333px #00ff80, 243px -152.6666666667px deepskyblue, 33px 69.3333333333px #d0ff00, -40px -182.6666666667px #00ff6f, 117px -374.6666666667px #6fff00; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
.finalText {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column; }

/*# sourceMappingURL=style.css.map */
