body {
  margin: 0px;
  padding: 0; }

canvas {
  border: 1px solid #EEE;
  border-radius: 5px; }

.App {
  text-align: center; }

.App-header {
  color: white;
  position: fixed !important;
  width: 100%;
  top: 0px;
  background-color: #fd595a; }

.App-footer {
  position: fixed;
  bottom: 0;
  background-color: #52BAD1;
  width: 100%;
  padding: 8px 0; }

.startPageLogo {
  height: 600px;
  top: 0; }

.textBoxes {
  display: flex;
  flex-direction: column; }

.backgroundFinal {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000; }

.pyro {
  position: fixed;
  height: 100vh;
  width: 100vw; }

.pyro > .before, .pyro > .after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 227px 0.3333333333px #aeff00, 173px -124.6666666667px #ff0040, 53px -143.6666666667px #bfff00, -40px -236.6666666667px #eaff00, 160px -33.6666666667px #00ffdd, 116px 10.3333333333px #1500ff, -131px -29.6666666667px #ffc800, 57px -386.6666666667px #1eff00, -22px 23.3333333333px #ff00c8, 238px 53.3333333333px #5900ff, -204px -70.6666666667px #002bff, -181px -288.6666666667px #ff00e6, 169px -335.6666666667px #6aff00, 152px -61.6666666667px #ff1e00, 191px -44.6666666667px #ff5500, -74px 18.3333333333px #f200ff, 180px 12.3333333333px #003cff, 149px 45.3333333333px #ff006f, 245px -366.6666666667px #ff0062, -198px -174.6666666667px #ff006a, 105px -150.6666666667px #8cff00, 101px -174.6666666667px #00ff73, 250px 23.3333333333px #ff002f, -233px -341.6666666667px #00ffdd, -240px -287.6666666667px #4000ff, -38px 9.3333333333px #ff00b7, -211px 25.3333333333px #00ffa2, -10px -110.6666666667px #9100ff, -249px -290.6666666667px #00c8ff, 177px -174.6666666667px #ff6f00, -28px -141.6666666667px #0015ff, -146px -288.6666666667px #4d00ff, 224px -389.6666666667px #ff00d5, -154px -161.6666666667px #99ff00, 152px -360.6666666667px #f7ff00, -66px 52.3333333333px #ffb300, 145px -55.6666666667px #00ff99, -109px 67.3333333333px #00ffa2, -206px 29.3333333333px #9dff00, 4px -400.6666666667px #00aaff, -166px 75.3333333333px #00eeff, 200px -382.6666666667px #ff8400, 236px -259.6666666667px #5900ff, 43px -47.6666666667px #8000ff, -79px -87.6666666667px #ff0048, -231px 74.3333333333px #3c00ff, -15px -73.6666666667px #00d0ff, 220px -73.6666666667px #9dff00, 193px -378.6666666667px #ff6200, -71px -63.6666666667px #ff0040, -62px 24.3333333333px #00ff9d; } }
@-moz-keyframes bang {
  to {
    box-shadow: 227px 0.3333333333px #aeff00, 173px -124.6666666667px #ff0040, 53px -143.6666666667px #bfff00, -40px -236.6666666667px #eaff00, 160px -33.6666666667px #00ffdd, 116px 10.3333333333px #1500ff, -131px -29.6666666667px #ffc800, 57px -386.6666666667px #1eff00, -22px 23.3333333333px #ff00c8, 238px 53.3333333333px #5900ff, -204px -70.6666666667px #002bff, -181px -288.6666666667px #ff00e6, 169px -335.6666666667px #6aff00, 152px -61.6666666667px #ff1e00, 191px -44.6666666667px #ff5500, -74px 18.3333333333px #f200ff, 180px 12.3333333333px #003cff, 149px 45.3333333333px #ff006f, 245px -366.6666666667px #ff0062, -198px -174.6666666667px #ff006a, 105px -150.6666666667px #8cff00, 101px -174.6666666667px #00ff73, 250px 23.3333333333px #ff002f, -233px -341.6666666667px #00ffdd, -240px -287.6666666667px #4000ff, -38px 9.3333333333px #ff00b7, -211px 25.3333333333px #00ffa2, -10px -110.6666666667px #9100ff, -249px -290.6666666667px #00c8ff, 177px -174.6666666667px #ff6f00, -28px -141.6666666667px #0015ff, -146px -288.6666666667px #4d00ff, 224px -389.6666666667px #ff00d5, -154px -161.6666666667px #99ff00, 152px -360.6666666667px #f7ff00, -66px 52.3333333333px #ffb300, 145px -55.6666666667px #00ff99, -109px 67.3333333333px #00ffa2, -206px 29.3333333333px #9dff00, 4px -400.6666666667px #00aaff, -166px 75.3333333333px #00eeff, 200px -382.6666666667px #ff8400, 236px -259.6666666667px #5900ff, 43px -47.6666666667px #8000ff, -79px -87.6666666667px #ff0048, -231px 74.3333333333px #3c00ff, -15px -73.6666666667px #00d0ff, 220px -73.6666666667px #9dff00, 193px -378.6666666667px #ff6200, -71px -63.6666666667px #ff0040, -62px 24.3333333333px #00ff9d; } }
@-o-keyframes bang {
  to {
    box-shadow: 227px 0.3333333333px #aeff00, 173px -124.6666666667px #ff0040, 53px -143.6666666667px #bfff00, -40px -236.6666666667px #eaff00, 160px -33.6666666667px #00ffdd, 116px 10.3333333333px #1500ff, -131px -29.6666666667px #ffc800, 57px -386.6666666667px #1eff00, -22px 23.3333333333px #ff00c8, 238px 53.3333333333px #5900ff, -204px -70.6666666667px #002bff, -181px -288.6666666667px #ff00e6, 169px -335.6666666667px #6aff00, 152px -61.6666666667px #ff1e00, 191px -44.6666666667px #ff5500, -74px 18.3333333333px #f200ff, 180px 12.3333333333px #003cff, 149px 45.3333333333px #ff006f, 245px -366.6666666667px #ff0062, -198px -174.6666666667px #ff006a, 105px -150.6666666667px #8cff00, 101px -174.6666666667px #00ff73, 250px 23.3333333333px #ff002f, -233px -341.6666666667px #00ffdd, -240px -287.6666666667px #4000ff, -38px 9.3333333333px #ff00b7, -211px 25.3333333333px #00ffa2, -10px -110.6666666667px #9100ff, -249px -290.6666666667px #00c8ff, 177px -174.6666666667px #ff6f00, -28px -141.6666666667px #0015ff, -146px -288.6666666667px #4d00ff, 224px -389.6666666667px #ff00d5, -154px -161.6666666667px #99ff00, 152px -360.6666666667px #f7ff00, -66px 52.3333333333px #ffb300, 145px -55.6666666667px #00ff99, -109px 67.3333333333px #00ffa2, -206px 29.3333333333px #9dff00, 4px -400.6666666667px #00aaff, -166px 75.3333333333px #00eeff, 200px -382.6666666667px #ff8400, 236px -259.6666666667px #5900ff, 43px -47.6666666667px #8000ff, -79px -87.6666666667px #ff0048, -231px 74.3333333333px #3c00ff, -15px -73.6666666667px #00d0ff, 220px -73.6666666667px #9dff00, 193px -378.6666666667px #ff6200, -71px -63.6666666667px #ff0040, -62px 24.3333333333px #00ff9d; } }
@-ms-keyframes bang {
  to {
    box-shadow: 227px 0.3333333333px #aeff00, 173px -124.6666666667px #ff0040, 53px -143.6666666667px #bfff00, -40px -236.6666666667px #eaff00, 160px -33.6666666667px #00ffdd, 116px 10.3333333333px #1500ff, -131px -29.6666666667px #ffc800, 57px -386.6666666667px #1eff00, -22px 23.3333333333px #ff00c8, 238px 53.3333333333px #5900ff, -204px -70.6666666667px #002bff, -181px -288.6666666667px #ff00e6, 169px -335.6666666667px #6aff00, 152px -61.6666666667px #ff1e00, 191px -44.6666666667px #ff5500, -74px 18.3333333333px #f200ff, 180px 12.3333333333px #003cff, 149px 45.3333333333px #ff006f, 245px -366.6666666667px #ff0062, -198px -174.6666666667px #ff006a, 105px -150.6666666667px #8cff00, 101px -174.6666666667px #00ff73, 250px 23.3333333333px #ff002f, -233px -341.6666666667px #00ffdd, -240px -287.6666666667px #4000ff, -38px 9.3333333333px #ff00b7, -211px 25.3333333333px #00ffa2, -10px -110.6666666667px #9100ff, -249px -290.6666666667px #00c8ff, 177px -174.6666666667px #ff6f00, -28px -141.6666666667px #0015ff, -146px -288.6666666667px #4d00ff, 224px -389.6666666667px #ff00d5, -154px -161.6666666667px #99ff00, 152px -360.6666666667px #f7ff00, -66px 52.3333333333px #ffb300, 145px -55.6666666667px #00ff99, -109px 67.3333333333px #00ffa2, -206px 29.3333333333px #9dff00, 4px -400.6666666667px #00aaff, -166px 75.3333333333px #00eeff, 200px -382.6666666667px #ff8400, 236px -259.6666666667px #5900ff, 43px -47.6666666667px #8000ff, -79px -87.6666666667px #ff0048, -231px 74.3333333333px #3c00ff, -15px -73.6666666667px #00d0ff, 220px -73.6666666667px #9dff00, 193px -378.6666666667px #ff6200, -71px -63.6666666667px #ff0040, -62px 24.3333333333px #00ff9d; } }
@keyframes bang {
  to {
    box-shadow: 227px 0.3333333333px #aeff00, 173px -124.6666666667px #ff0040, 53px -143.6666666667px #bfff00, -40px -236.6666666667px #eaff00, 160px -33.6666666667px #00ffdd, 116px 10.3333333333px #1500ff, -131px -29.6666666667px #ffc800, 57px -386.6666666667px #1eff00, -22px 23.3333333333px #ff00c8, 238px 53.3333333333px #5900ff, -204px -70.6666666667px #002bff, -181px -288.6666666667px #ff00e6, 169px -335.6666666667px #6aff00, 152px -61.6666666667px #ff1e00, 191px -44.6666666667px #ff5500, -74px 18.3333333333px #f200ff, 180px 12.3333333333px #003cff, 149px 45.3333333333px #ff006f, 245px -366.6666666667px #ff0062, -198px -174.6666666667px #ff006a, 105px -150.6666666667px #8cff00, 101px -174.6666666667px #00ff73, 250px 23.3333333333px #ff002f, -233px -341.6666666667px #00ffdd, -240px -287.6666666667px #4000ff, -38px 9.3333333333px #ff00b7, -211px 25.3333333333px #00ffa2, -10px -110.6666666667px #9100ff, -249px -290.6666666667px #00c8ff, 177px -174.6666666667px #ff6f00, -28px -141.6666666667px #0015ff, -146px -288.6666666667px #4d00ff, 224px -389.6666666667px #ff00d5, -154px -161.6666666667px #99ff00, 152px -360.6666666667px #f7ff00, -66px 52.3333333333px #ffb300, 145px -55.6666666667px #00ff99, -109px 67.3333333333px #00ffa2, -206px 29.3333333333px #9dff00, 4px -400.6666666667px #00aaff, -166px 75.3333333333px #00eeff, 200px -382.6666666667px #ff8400, 236px -259.6666666667px #5900ff, 43px -47.6666666667px #8000ff, -79px -87.6666666667px #ff0048, -231px 74.3333333333px #3c00ff, -15px -73.6666666667px #00d0ff, 220px -73.6666666667px #9dff00, 193px -378.6666666667px #ff6200, -71px -63.6666666667px #ff0040, -62px 24.3333333333px #00ff9d; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
.finalText {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

/*# sourceMappingURL=style.css.map */
