body {
  margin: 0px;
  padding: 0;
}

canvas {
  margin-top: 20px;
  border: 1px solid #52BAD1;
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
  position: fixed !important;
  width: 100%;
  top: 0px;
  background-color: #fd595a;
}

.App-header img {
  height: 30px;
}

.App-body {
  padding-bottom: 100px;
}

.App-footer {
  position: fixed;
  bottom: 0;
  background-color: #52BAD1;
  width: 100%;
  padding: 8px 0;
}

.startPageLogo {
  height: 600px;
}
